## 设置变量
#set($color = 'red')
$color

#set($monkey=$color)
$monkey

##读取变量
$greet $name

## 循环
## List<String>
#foreach($item in $list)
    $velocityCount:$iitem
#end
## List
#set($map=["1","2","3","4"])
#foreach($item in $map)
    $velocityCount:$item
#end
## List<Book>
#foreach($item in $bookList)
 $item.getName()
#end
#foreach($key in $bookMap.keySet())
    $velocityCount --> $key:$bookMap.get($key).toString()
#end

## 判断
#if(1)
    ## dosomething...
#elseif(1)
    ## dosomething...
#else
    ## dosomething...
#end

##声明宏
#macro(sayHello $name)
    hello $name
#end
sayHello("NICK")

##引入外部vm文件
##parse指令会先对其进行解析再输出
#parse("header.vm")
##include指令会将外部文件原样输出
#include("footer.vm")

